:where(.fill-viewport) {
  position: fixed;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  inset: 0;
  overflow: auto;
}

:where(.fill-parent) {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}

[data-ae-tab-group] {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.ae--shape-vertical [data-ae-tab-group],
.ae--shape-square [data-ae-tab-group] {
  flex-flow: row;
  text-align: center;
}

[data-ae-tab] {
  all: unset;
  display: block;
  padding: 1rem;
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: transparent;
}

[data-ae-tab][aria-selected=false],
[data-ae-tab-panel]:not(.ae--active) {
  background: rgba(0 0 0 /50%);
}

[data-ae-tab-panel]:not(.ae--active) {
  display: none;
}

[data-ae-tab][aria-selected=true] {
  text-decoration: underline;
}

.ae--shape-vertical {
  flex-flow: column;
}

.ae--shape-square {
  flex-flow: column;
}

.ae--shape-horizontal {
  flex-flow: row;
}

[data-ae-adaptive] {
  display: flex;
}

[data-ae-option] {
  background-color: grey;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
}

[data-ae-option].ae--active {
  background-color: black;
}

/**
* https://github.com/vineethtrv/css-loader
* https://cssloaders.github.io/
**/

.loader {
  --color-1: rgba(255, 255, 255, 0);
  --color-2: #E6A021;
  --color-3: #2D2D2D;
  --size: 1px;

  width: calc(86 * var(--size));
  height: calc(50 * var(--size));
  border-radius: calc(50 * var(--size));
  background:
    radial-gradient(farthest-side,
      var(--color-1) calc(100% - calc(10 * var(--size))),
      var(--color-2) calc(100% - calc(10 * var(--size))) 100%,
      var(--color-1)) left,
    radial-gradient(farthest-side,
      var(--color-1) calc(100% - calc(10 * var(--size))),
      var(--color-2) calc(100% - calc(10 * var(--size))) 100%,
      var(--color-1)) right;
  background-size: calc(50% + calc(5 * var(--size))) 100%;
  background-repeat: no-repeat;
  position: relative;
  animation: flipX 1s infinite linear;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: calc(10 * var(--size));
  height: calc(10 * var(--size));
  border-radius: 50%;
  background: var(--color-3);
  transform-origin: calc(-14 * var(--size)) 50%;
  animation: rotate 0.5s infinite linear;
}

@keyframes flipX {

  0%,
  49.99% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}